body {
  font-family: Verdana, Arial, Sans-serif;
  background-color: #004D40; 
  color: #F7D3B5;
}
h1 {
  font-weight: normal;
}
a {
  color: #F7D3B5;
}
nav, footer, .page_content {
  padding: 16px;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
  border-bottom: 1px solid;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 16px;
  row-gap: 8px;
  margin: 0;
  padding: 0;
}
nav li {
  margin-top: auto;
  margin-bottom: auto;
}
nav a {
  text-decoration: none;
}
nav .current {
  text-decoration: underline;
}
.avatar, .avatar img {
  width: 64px;
  height: 64px;
}